footer
  .container.footer
    ul
      li
        a(href='/blog') Blog
      li
        a(href='/docs') Docs
      li
        a(href='/about') About
      li
        a(href='/privacy') Privacy
      li
        a(href='/contact') Contact
    p © 2015 Sikuli Lab.
