footer
  .container.footer
    ul
      li
        a(href='http://blog.sieveable.io') Blog
      li
        a(href='http://sieveable.io/docs') Docs
      li
        a(href='http://sieveable.io/about') About
      li
        a(href='http://sieveable.io/privacy') Privacy
      li
        a(href='http://sieveable.io/contact') Contact
    p © 2015 Sikuli Lab.
