/*
 * Body resets
 */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 2.5;
}

@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}
body {
  color: #515151;
  background-color: #fff;
}

/* Body text */
p, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 2;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.003em;
}


/*
* Blog Master header
*/

.b-master-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.b-master-header-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}
.b-master-header {
  position: relative;
  padding: 2rem 1rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background-color: #74aedb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#74aedb));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #74aedb 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #74aedb 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #74aedb 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#74aedb', GradientType=0);
  background-repeat: repeat-x;
}
.b-master-header p {
  margin-bottom: 0;
}
.b-master-header h1 {
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: 3rem;
  font-weight: 700;
  color: #007095;
}
.b-master-header h4 {
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  .b-master-header {
    padding: 3rem 0 4rem;
  }
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #2b2b2b;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Blog post or page title */

.page-title, .post-title, .post-title a {
  color: #0079bf;
}
.page-title, .post-title {
  margin-top: 0;
}

/*
* post date
*/
.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

/*
* post author
*/
.post-author {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

/*
*
* post excerpt more link
*/
.more-link{
  color: #0079bf;
  margin: 15px 0 0;
  font-weight: 600;
  display: block;
  float: left;
}

/* Footer
------------------------- */

footer {
  margin: 3em 0;
  text-align: center;
}
.footer ul {
  margin: 5px;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.footer ul li {
  display: inline;
  margin: 0 0.5em;
}
.footer ul li a {
  text-decoration: underline;
  cursor: auto;
  color: #999;
}
.footer p{
  font-size: 14px;
}
