doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="Sieveable Blog", content="Sieveable: the deep search engine for Android apps")
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
      link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans")
      link(rel='stylesheet', href=contents.css['blog-style.css'].url)
  body(class=bodyclass)
    block header
      include ./includes/header.jade
    .container
      block content
    block footer
      include ./includes/footer.jade
